<div class="form myForm" [ngClass]="formStatus">
  <h2 id="registration" style="text-align: center;"><u>Registration Form</u> </h2>

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div formGroupName="personalDetails">
      <label for="fname">First Name</label>
      <input type="text" id="fname" placeholder="Your First Name...." formControlName="firstname">
      <div >
        <small *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['required'] && reactiveForm.get('personalDetails.email').touched">
          First Name is required Field
        </small>

        <small  *ngIf="reactiveForm.get('personalDetails.firstname').errors?.['noSpaceAllowed']">
          First Name cannot contain a space
        </small>
      </div>
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" placeholder="Your Last Name...." formControlName="lastname">
      <div >
        <small *ngIf="reactiveForm.get('personalDetails.lastname').errors?.['required'] && reactiveForm.get('personalDetails.email').touched">
          First Name is required Field
        </small>

        <small  *ngIf="reactiveForm.get('personalDetails.lastname').errors?.['noSpaceAllowed']">
          First Name cannot contain a space
        </small>
      </div>
  
  
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="your Email Address...." formControlName="email">
      <div>
        <span style="color: red;" *ngIf="!reactiveForm.get('personalDetails.email').valid && reactiveForm.get('personalDetails.email').touched">
          The Email you entered is not a valid email.
        </span>
      </div>
    </div>

    

    <label for="country">Country</label>
    <select id="country" formControlName="country">
      <option value="india">India</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="uk">UK</option>
    </select>

    <label for="gender">Gender: </label>
    <input type="radio" id="male" value="male" name="gender" formControlName="gender">
    <label for="male">Male</label>
    <input type="radio" id="female" value="female" name="gender" formControlName="gender">
    <label for="male">Female</label>
    <input type="radio" id="other" value="other" name="gender" formControlName="gender">
    <label for="male">Other</label>



    <br><br>

    <label>Hobbies : <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" name="hobby" formControlName="hobbies">Sports</label>
      <label><input type="checkbox" value="movies" name="hobby" formControlName="hobbies">Movies</label>
      <label><input type="checkbox" value="music" name="hobby" formControlName="hobbies">Music</label>
    </div>


    <div formArrayName="skills">
      <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls'];index as i">
        <input type="text" placeholder="add skill..." formControlName="{{i}}">
      </ng-container>
<button (click)="addSkill()">+Add Skills</button>
    </div>


    <input type="submit" value="Submit" id="btn">
  </form>